
<section class="caption">
	<h2>
		I'm Steven Chen, a multi-dimensional entrepreneur.
	</h2>
	<h2>
		I build, collaborate, and learn.
	</h2>
</section>

<hr>

<section class="clearfix column">
	<h2>Education</h2>
		<p>
			MIT Sloan School of Management<br>
			MBA<br>
			2013<br>
		</p>

		<p>
			Princeton University<br>
			AB, Economics<br>
			2008<br>
		</p>
</section>

<section class="clearfix column">
	<h2>Experience</h2>
		<p>
			Techstars<br>
			Associate<br>
			2016<br>
		</p>

		<p>
			Kytespace<br>
			Founder / CEO<br>
			2015 - 2016<br>
		</p>

		<p>
			OhYouHero<br>
			VP of Strategy and BD<br>
			2014 - 2015<br>
		</p>

		<p>
			TAP-BOS<br>
			Founder / President<br>
			2012 - 2014<br>
		</p>

		<p>
			Cambridge Associates<br>
			Senior Associate / Team Leader<br>
			2008 - 2011<br>
		</p>
</section>

<section class="clearfix column">
	<h2>Skills</h2>
		<p>
			User Development<br>
			Product Development<br>
			Marketing<br>
			Operations<br>
			Analytics<br>
			Community Building<br>
		</p>
</section>