<h3>Professional Experience</h3>
<ul>
	<li>Strategy, Operations, and Growth @ Techstars</li>
	<li>Product Development @ Kytespace</li>
	<li>Strategy and Operations @ OhYouHero</li>
	<li>Investment Consulting @ Cambridge Associates</li>
</ul>

<br></br>

<h3>Education</h3>
<ul>
	<li>AB, 2008, Economics @ Princeton University</li>
	<li>MBA, 2013, @ MIT Sloan</li>
</ul>

<br></br>

<h3>Music</h3>
<ul>
	<li>Solo</li>
	<li>Orchestra: Mercury Orchestra, Longwood Symphony Orchestra, Princeton University Orchestra, Olympia Youth Orchestra, Colburn Chamber Orchestra, Colburn Orchestra Da Camera</li>
	<li>Chamber Music: Piano Trio with Mikiko Fujiwara and Jen Chu</li>
	<li>Teachers: Alexander Treger, Fung Ho, Kurt Sassmanshaus, Naoko Tanaka</li>
	<li>Festivals: Aspen Music Festival, IIYM, Prince Something</li>
</ul>
