<h2>PROFESSIONAL EXPERIENCE</h2>
<ul>
	<li>Associate, Techstars</li>
	<li>Founder, Kytespace</li>
	<li>VP of Strategy and BD, OhYouHero</li>
	<li>Senior Consulting Associate, Cambridge Associates</li>
</ul>

<h2>EDUCATION</h2>
<ul>
	<li>MBA, MIT Sloan</li>
	<li>AB, Princeton University</li>
</ul>
