<div class="container post">
	<p class="date">
		September 10, 2016
	</p>
	<a href="https://medium.com/@svn/fireside-chat-with-taiwanese-american-superstars-b4ad2c1d8905#.ai2n5pxgj" target="_blank"><h2>Fireside Chat with Taiwanese American Superstars</h2></a>
		<p>I listened to the personal stories of a politician, an educator, and a researcher and left with one key takeaway about how I should live my life.</p>
</div>

<div class="container post">
	<p class="date">
		September 10, 2016
	</p>
	<a href="https://www.linkedin.com/in/schen08" target="_blank"><h2>So you got into Techstars...</h2></a>
		<p>I was a Techstars Associate in Boston for the Spring 2016 cohort and had the opportunity to work with 14 early stage companies. I share my reflections as well as steps I'd take if my company were to ever go through the program.</p>
</div>