<div class="container contact">
	<h2>Contact Me</h2>
		<p>s7even08 at gmail dot com</p>

	<h2>Social Media</h2>
		<a href="https://www.linkedin.com/in/schen08" target="_blank">LinkedIn</a> | <a href="https://www.facebook.com" target="_blank">Facebook</a>
</div>