<h2>CONTACT ME</h2>
	<p>s7even08 at gmail dot com</p>

<h2>SOCIAL MEDIA</h2>
	<a href="https://www.linkedin.com/in/schen08" target="_blank">LinkedIn</a> | <a href="https://www.facebook.com" target="_blank">Facebook</a> | <a href="https://www.medium.com" target="_blank">Medium</a>

<h2>LET'S GRAB COFFEE AT</h2>
<p>Random JavaScript Coffee Place</p>