<section class="caption">
	<h2>
		I'm a violinist with over 25 years of experience.
	</h2>
	<h2>
		I'm a soloist, chamber musician, and orchestral musician.
	</h2>
	<h2>
		Let's play.
	</h2>
</section>

<hr>

<section class="clearfix column">
	<h2>Influential Teachers</h2>
		<p>
			Alexander Treger<br>
			Former Concertmaster of Los Angeles Philharmonic<br>
			Los Angeles, CA<br>
		</p>

		<p>
			Fung Ho<br>
			Music Director of Olympia Youth Orchestra<br>
			Los Angeles, CA<br>
		</p>

		<p>
			Anna Lim<br>
			Violin Teacher at Princeton University<br>
			Princeton, NJ<br>
		</p>

		<p>
			Naoko Tanaka<br>
			Juilliard College<br>
			Aspen, CO<br>
		</p>

</section>

<section class="clearfix column">
	<h2>Select Honors</h2>
		
		<p>
			Princeton University Concerto Competition<br>
			Winner / Soloist<br>
			Princeton, NJ<br>
		</p>
		
		<p>
			The Music Center Spotlight Awards<br>
			Finalist<br>
			Los Angeles, CA<br>
		</p>

		<p>
			Brentwood-Westwood Concerto Competition<br>
			Winner / Soloist<br>
			Los Angeles, CA<br>
		</p>

		<p>
			Guest Soloist<br>
			Olympia Youth Orchestra<br>
			Taipei, Taiwan<br>
		</p>
</section>

<section class="clearfix column">
	<h2>Select Groups</h2>
		<p>
			Mercury Orchestra<br>
			Concertmaster / Assistant Concertmaster<br>
			Boston, MA<br>
		</p>
		
		<p>
			Princeton University Orchestra<br>
			Concertmaster<br>
			Princeton, NJ<br>
		</p>

		<p>
			American Youth Symphony<br>
			1st Violin<br>
			Los Angeles, CA<br>
		</p>

		<p>
			Colburn Orchestra Da Camera<br>
			Concertmaster<br>
			Los Angeles, CA<br>
		</p>
</section>