<h2>//SOLO</h2>
<p>I started playing the violin at the age of 5 and have given numerous solo recitals.  I made my "orchestral" debut at the age of 8, playing the Bach Double Violin Concerto with my teacher at the time.  Since then, I've performed with various orchestras playing the works of Paganini, Prokofiev, and Tchaikovsky.  I don't play as much solo repertoire today, but who knows what the future holds...I miss the thrill of being on stage!</p>

<h2>//CHAMBER</h2>
<p>I started seriously playing in chamber music groups in college where I played in a cello quintet, piano quartet, and string quartet.  Since graduation, I've primarily played in a piano trio.</p>

<h2>//ORCHESTRAS</h2>
<p>I've always enjoyed the camaraderie of orchestras.  Here are the orchestras I've played in throughout my career:
	<ul>
		<li>Concertmaster, Mercury Orchestra, Boston</li>
		<li>1st Violin, Dudley House Orchestra, Boston</li>
		<li>1st Violin, Longwood Symphony Orchestra, Boston</li>
		<li>1st Violin, Brookline Symphony Orchestra, Boston</li>
		<li>Concertmaster, Princeton University Orchestra, Princeton</li>
		<li>1st Violin, American Youth Symphony, Los Angeles</li>
		<li>1st Violin, Aspen Philharmonic Orchestra, Aspen</li>
		<li>Concertmaster, Olympia Youth Orchestra, Los Angeles</li>
		<li>1st Violin, Colburn Chamber Orchestra, Los Angeles</li>
		<li>Concertmaster, Colburn Orchestra Da Camera, Los Angeles</li>
	</ul>

<h2>//FESTIVALS</h2>
<p>Who doesn't like "band camp?"  I have many fond memories of summer music camps as they gave me the opportunities to explore new places and play with extremely talented musicians.  I've been to Kansas City, Santa Barbara, Aspen, and the Island of Kauai as a participant in the International Institute of Young Musicians, Aspen Music Festival, and Prince Albert Music Festival.</p>

<h2>//TEACHERS</h2>
<p>I can't thank my teachers enough for their guidance over my 25+ years of playing.  My most influential teachers include Alexander Treger, Fung Ho, and Thi Nguyen.  I've also had the privilege to briefly study with and take masterclasses from Ruggero Ricci, Kurt Sassmanshaus, and Naoko Tanaka.