<div class="container post">
	<h2>On Identities...</h2>
	<p>
		“The process of making art is the process of becoming a person with agency, with independent thought, a producer of meaning rather than a consumer of meanings that may be at odds with your soul, your destiny, your humanity, so there’s another kind of success in becoming conscious that matters and that is up to you and nobody else and within your reach.”
	</p>

	<a href="http://lithub.com/how-to-be-a-writer-10-tips-from-rebecca-solnit" target="_blank"><p>How To Be a Writer</a> by Rebecca Solnit</p>
</div>